<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>demo</title>
<link rel="stylesheet" type="text/css" href="/css/style.min.css"/>
<script type="text/javascript" src="/js/lib/jquery.min.js"></script>
</head>
<body>
    <!-- <canvas id="mainCanvas"></canvas>     -->
    <!-- <script type="text/javascript" src="/js/index.min.js"></script> -->
    <div class="main_box">
        <div class="line_center"></div>
        <div class="line_left"></div>
        <div class="line_right"></div>
        <div class="line_top"></div>
        <div class="line_bottom"></div>
    </div>
</body>
</html>